@import "../../styles/extencions.scss";
@import "../../styles/mixins.scss";

.weather-item {
    background-color: red;
    opacity: .8;
    user-select: none;
    transition: .5s ease;
    gap: 15px;

    &__info {
        text-align: center;
        margin: 0;
        gap: 20px;
        @include flexy(center,center,row,no-wrap)
    }

    &:hover {
        opacity: 1;
    }

    @include flexy(center,center,column,no-wrap)
}