@import "../../styles/extencions.scss";
@import "../../styles/mixins.scss";


.box {
    margin: 0 auto;
    background-color: #3399CC;
    border: 25px solid #2B81AC;
    box-sizing: border-box;
    gap: 35px;
    &__title {
        padding-left: 110px;
       font-size: 21px;
       align-self: flex-start;
        @include sizeW_H(263px,34px)
    }

    &__advice {
        padding-left: 110px;
        align-self: flex-start;
        @extend %advice;
    }

    @include sizeW_H(1440px,900px);
    @extend %text__card;
    @include flexy(center,center,column,no-wrap);
}